@import url("fonts.css");
@import url("variables.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--primary-color-dark-blue);
  max-height: 92px;
}

.header__container {
  max-width: 1920px;
  height: 92px;
  margin: 0 calc(32px + (100vw - 1440px) / (1920 - 1440) * (220 - 32));
  padding-top: 16px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.header__logo img {
  width: 37px;
  height: 27px;
}

.header__logo span {
  color: var(--secondary-color-white);
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
}

.header__container-navigation {
  display: flex;
  align-items: center;
}

.header__nav-menu {
  width: fit-content;
  height: 24px;
  display: flex;
  margin-right: 60px;
}

.header__list-container {
  display: flex;
  gap: 25px;
  list-style: none;
}

.header__dropdown-container {
  width: fit-content;
  height: fit-content;
  display: list-item;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.header__dropdown-container::after {
  width: 10px;
  height: 6px;
  display: inline-block;
  content: "";
  background-image: url(/src/assets/pictures/arrow.svg);
  background-repeat: no-repeat;
  margin-left: 20px;
}

.header__dropdown-container:last-child {
  margin-right: 0px;
}

.header__dropdown-btn {
  width: fit-content;
  height: fit-content;
  column-gap: 20px;
  display: flex;
  align-items: center;
}

.header__dropdown-title {
  color: var(--secondary-color-white);
  font-family: DM-Sans;
  font-size: var(--primary-font-size-small-text);
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0;
}

.header__dropdown-title:hover {
  color: lightgrey;
}

.header__menu {
  width: inherit;
  height: fit-content;
  background: var(--primary-color-dark-blue);
  display: none;
  row-gap: 5px;
}

.active {
  display: flex;
  flex-direction: column;
}

.header__menu-element {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header__menu-element a {
  color: var(--secondary-color-white);
  font-family: DM-Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0;
  text-decoration: none;
}

.header__container-btn {
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 24px;
  user-select: none;
}

.header__btn-login {
  min-width: 126px;
  height: 60px;
  border: var(--border);
  border-radius: 8px;
  background: var(--secondary-color-yellow);
  color: var(--primary-color-dark-blue);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.header__btn-login:hover {
  color: gray;
}

.header__btn-free-trial {
  min-width: 227px;
  height: 60px;
  border: var(--border);
  border-radius: 8px;
  background: var(--primary-color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
}

.header__btn-free-trial span {
  color: var(--secondary-color-white);
  font-family: Inter;
  font-size: var(--primary-font-size-small-text);
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.16px;
}

.header__btn-free-trial:hover span {
  color: lightgray;
}

.header__btn-gamburger {
  width: 42px;
  height: 26px;
  background: url(/src/assets/pictures/gamburger-btn.svg);
  border: none;
  display: none;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 3;
}

.sidebar-gamburger {
  width: 30%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  background-color: #021c3b;
  z-index: 2;
  padding-top: 152px;
  display: none;
}

.sidebar-active {
  display: block;
}

.sidebar-active-btn {
  width: 50px !important;
  height: 50px !important;
  position: relative;
  background: url(/src/assets/pictures/close.svg) !important;
}

.sidebar__dropdown-container {
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

@media screen and (max-width: 1440px) {
  .header__container {
    margin: 0 32px;
  }
  .header__logo {
    margin-right: calc(20px + (100vw - 1153px) / (1440 - 1153) * (256.5 - 20));
  }
  .header__nav-menu {
    margin-right: calc(0px + (100vw - 1152px) / (1440 - 1152) * (75.5 - 0));
  }
  .header__dropdown-container::after {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1152px) {
  .header__logo {
    margin-right: calc(80px + (100vw - 769px) / (1152 - 769) * (458 - 80));
  }
  .header__nav-menu {
    display: none;
  }
  .header__container-btn {
    margin-right: 20px;
  }
  .header__btn-gamburger {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0px;
  }
  .header__nav-menu {
    display: none;
  }
  .header__container-btn {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  header {
    height: 56px;
  }
  .header__container {
    padding: 16px 0;
    margin: 0 16px;
  }
  .header__nav-menu {
    display: none;
  }
  .header__container-btn {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
