@import url(/src/css/fonts.css);
@import url(/src/css/variables.css);


// mixin for adaptive font-size
@mixin calc-font-size($min-vw, $max-vw, $min-font-size, $max-font-size){
    font-size: calc(#{$min-font-size}rem + ((100vw - #{$min-vw}rem) / (#{$max-vw} - #{$min-vw})) * (#{$max-font-size} - #{$min-font-size}));
}

//mixin for adaptive block width 
@mixin calc-block-width($min-vw, $max-vw, $min-block-width, $max-block-width){
    width: calc(#{$min-block-width}px + ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw})) * (#{$max-block-width} - #{$min-block-width}));
}

//mixin for adaptive row margin
@mixin calc-margin-row($min-vw, $max-vw, $min-margin-row, $max-margin-row){
    margin: 0 calc(#{$min-margin-row}px + ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw})) * (#{$max-margin-row} - #{$min-margin-row}));
}


.our-sponsors {
    background: var(--secondary-color-white);
    padding: 140px 0;
}

.our-sponsors__container {
    width: auto;
    height: fit-content;
    @include calc-margin-row(1440, 1920, 32, 220);
}

.our-sponsors__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.our-sponsors__content h2 {
    color: var(--secondary-color-black);
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: -0.16px;
    text-align: center;
}

.our-sponsors__container-img {
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 1440px) {
    .our-sponsors__container {
        margin: 0 32px;
    }    
}

@media screen and (max-width: 1152px) {
    .our-sponsors__content {
        @include calc-font-size(48, 72, 3.375, 4);
        line-height: 77px;
    }
}

@media screen and (max-width: 1080px) {
    .our-sponsors__container-img {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .our-sponsors__container-img img:nth-of-type(1) {
        width: 55.47px;
        height: 68px;
    }

    .our-sponsors__container-img img:nth-of-type(2) {
        width: 287px;
        height: 62px;
    }

    .our-sponsors__container-img img:nth-of-type(3) {
        width: 279.1px;
        height: 70.22px;
    }

    .our-sponsors__container-img img:nth-of-type(4) {
        width: 211px;
        height: 69.81px;
    }
}

@media screen and (max-width: 768px) {
    .our-sponsors__container {
        margin: 0 20px;
    }

    .our-sponsors__content h2 {
        @include calc-font-size(20, 48, 2.25, 3.375);
        line-height: 65px;
    }

}

@media screen and (max-width: 320px) {
    .our-sponsors__content h2 {
        font-size: 36px;
        line-height: 44px;
    }
}
